.dropDown-block {
  width: 80em;
  margin: 4em auto;
  border: 0 solid;
  border-radius: 0.2em;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.filters-block {
  width: 54em;
  height: 6em;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: none;
  padding: auto;
}

.dropDown-btn {
  width: 3.6em;
  height: 2.4em;
  float: right;
  background-color: #fff;
  border: 3px solid;
  border-color: #2B4F81;
  border-radius: 0.4em;
  cursor: pointer;
}

.arrow-img {
  width: 2em;
  height: 1.8em;
  margin: auto;
}

.addNewsBtn {
  width: 5em;
  margin: auto 1em;
}

.addNewsBtn button {
  width: 6em;
  height: 2em;
  margin: 0.4em 0;
  background-color: #2B4F81;
  color: #fff;
  border: none;
  border-radius: 0.2em;
  font-weight: 500;
  cursor: pointer;
}

.addNewsBtn>button:hover {
  background-color: gray;
}

.changeViewBtn {
  width: 6.4em;
  height: 4em;
  margin: auto 1em;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.changeViewBtn button {
  width: 2.8em;
  height: 2.4em;
  background-color: #2B4F81;
  color: #fff;
  border: none;
  border-radius: 0.2em;
  font-weight: 600;
  cursor: pointer;
}

.changeViewBtn button:hover {
  background-color: gray;
}

.change-view-icon {
  width: 1.7em;
  height: 1.7em;
  margin: 0.2em auto;
}

@media screen and (max-width: 420px) {
  .dropDown-block {
    width: 74em;
    margin: 9vw;
  }

  .filters-block {
    width: 60em;
    height: 22em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .addNewsBtn button {
    width: 20em;
    height: 8em;
    margin-right: 7em;
  }

  .addNewsBtn span {
    font-size: 3em;
  }

  .changeViewBtn {
    width: 20em;
  }

  .changeViewBtn button {
    width: 10em;
    height: 8em;
  }

  .change-view-icon {
    width: 4em;
    height: 4em;
  }
}
