.edit-form-block-list {
  width: 35em;
  height: 32em;
  margin: 2em;
  display: grid;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: initial;
  list-style: none;
  font-size: 0.9em;
  font-weight: 550;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.edit-form-block-list:hover {
  cursor: pointer;
  transform: scale(1.03);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.edit-form-block-list input, select {
  width: 20em;
  height: 2em;
  margin: 0.2em 1em;
  border: 2px solid;
  border-radius: 0.2em;
  border-color: #2B4F81;
}

.edit-form-block-list textarea {
  margin: 0.2em 1em;
  border: 2px solid;
  border-radius: 0.2em;
  border-color: #2B4F81;
}

.edit-form-block-list input:nth-child(1) {
  width: 31em;
  margin-top: 1em;
}

.edit-form-block-list button {
  width: 36em;
  height: 2.8em;
  margin: 0.2em auto -1em;
  border: none;
  border-radius: 0.1em;
  color: #fff;
  background-color: #4b77be;
  cursor: pointer;
}

.edit-form-block-list button:hover {
  background-color: gray;
}

.edit-form-block-table {
  width: 70em;
  height: 20em;
  margin: 2em auto;
  display: grid;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: initial;
  list-style: none;
  font-size: 0.9em;
  font-weight: 550;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.edit-form-block-table:hover {
  cursor: pointer;
  transform: scale(1.03);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.edit-form-block-table input, select {
  width: 20em;
  height: 2em;
  margin: 0 1em;
  border: 2px solid;
  border-radius: 0.2em;
  border-color: #2B4F81;
}

.edit-form-block-table textarea {
  height: 3.6em;
  margin: 0.2em 1em;
  border: 2px solid;
  border-radius: 0.2em;
  border-color: #2B4F81;
}

.edit-form-block-table input:nth-child(1) {
  width: 31em;
  margin-top: 1em;
}

.edit-form-block-table button {
  width: 73.4em;
  height: 2em;
  margin: 0 auto -1em;
  border: none;
  border-radius: 0.1em;
  color: #fff;
  background-color: #4b77be;
  cursor: pointer;
}

.edit-form-block-table button:hover {
  background-color: gray;
}

@media screen and (max-width: 420px) {
  .edit-form-block-list {
    width: 24em;
    height: 38em;
    font-size: 2.8em;
  }

  .edit-form-block-list input, select {
    width: 14em;
    font-size: 1em;
  }

  .edit-form-block-list input:nth-child(1) {
    width: 20em;
  }

  .edit-form-block-list textarea {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .edit-form-block-list button {
    width: 22em;
    height: 4em;
    font-size: 1em;
  }

  .edit-form-block-table {
    width: 24em;
    height: 38em;
    font-size: 2.8em;
  }

  .edit-form-block-table input, select {
    width: 14em;
    height: 2em;
    font-size: 1em;
  }

  .edit-form-block-table input:nth-child(1) {
    width: 20em;
  }

  .edit-form-block-table textarea {
    height: 12em;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .edit-form-block-table button {
    width: 22em;
    height: 4em;
    font-size: 1em;
  }
}
