.search-block {
  margin: auto 1em;
}

.search-input {
  width: 18em;
  height: 1.6em;
  border: 2px solid;
  border-radius: 0.2em;
  border-color: #2B4F81;
}

.search-submit {
  width: 6em;
  height: 2em;
  margin: 0 0.1em;
  background-color: #fff;
  color: #2B4F81;
  border: 2px solid;
  border-color: #2B4F81;
  border-radius: 0.2em;
  font-weight: 600;
  cursor: pointer;
}

.search-submit:hover {
  background-color: #2B4F81;
  color: #fff;
  border: none;
}
