.checkbox-block {
  width: 5em;
  margin: 2em 0 2em 1em;
}

.checkbox-block-on {
  width: 5em;
  height: 6em;
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 0.2em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.checkbox-block-on label {
  margin: auto 0;
  font-size: 13px;
}

.checkbox-block button {
  width: 2.8em;
  height: 2.4em;
  background-color: #2B4F81;
  color: #fff;
  border: none;
  border-radius: 0.2em;
  font-weight: 600;
  cursor: pointer;
}

.checkbox-block button:hover {
  background-color: gray;
}

.checkbox-block-off {
  display: none;
}

@media screen and (max-width: 420px) {
  .checkbox-block {
    width: 2em;
    margin: auto;
    font-size: 2.8em;
  }

  .checkbox-block button {
    width: 6em;
    height: 6em;
    font-size: 0.4em;
  }
}
