.main-block {
  margin: auto;
  padding: 1em;
}

.items-block {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.night {
  min-height: 900px;
  background-color: #161b22;
}

.night header {
  background-color: #21262d;
  color: #fff;
}

.night ul {
  background-color: #000010;
  color: #d4e2f8;
}

.night table {
  background-color: #000010;
  color: #d4e2f8;
}

.night form {
  background-color: #000010;
  color: #d4e2f8;
}

.night>.dropDown-block {
  background-color: #000010;
  color: #d4e2f8;
}

.night input {
  background-color: #000010;
  color: #fff;
}

.night select {
  background-color: #000010;
  color: #fff;
}

.night textarea {
  background-color: #000010;
  color: #fff;
}

.night button {
  background-color: #21262d;
  border: none;
}

@media screen and (max-width: 420px) {
  .night {
    width: 80em;
  }
}
